.new-benefit-container {
    text-align: center;
    padding: 20px;
    max-width: 324px;
    margin-left:auto;
    margin-right:auto;
  }
  
  .new-benefits-container h1 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #023047;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  
  #service-button {
    margin-top: 16px;
  }